<li class="nav-dropdown-container links">
    <a class="nav-link">Links</a><span class="arrow"></span>
    <ul class="nav-dropdown">
        <li><a href="https://github.com/awurth" class="nav-link" target="_blank">Github</a></li>
        <li><a href="https://www.linkedin.com/in/alexiswurth" class="nav-link" target="_blank">LinkedIn</a></li>
        <li><a href="https://twitter.com/alexis_wrt" class="nav-link" target="_blank">Twitter</a></li>
    </ul>
</li>
