<li class="nav-dropdown-container projects">
  <a class="nav-link">Projects</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><h4>Libraries</h4></li>
    <li><ul>
      <li><a href="<%- url_for("/doc/slim-validation/") %>" class="nav-link">Slim Validation</a></li>
      <li><a href="<%- url_for("/doc/silex-user/") %>" class="nav-link">Silex User</a></li>
      <li><a href="<%- url_for("/doc/upload/") %>" class="nav-link">Upload</a></li>
    </ul></li>
    <li><h4>Boilerplates</h4></li>
    <li><ul>
      <li><a href="https://vuex.vuejs.org/" class="nav-link" target="_blank">Silex</a></li>
      <li><a href="https://router.vuejs.org/" class="nav-link" target="_blank">Slim</a></li>
      <li><a href="https://vuex.vuejs.org/" class="nav-link" target="_blank">Slim REST</a></li>
      <li><a href="https://vuex.vuejs.org/" class="nav-link" target="_blank">AngularJS</a></li>
    </ul></li>
  </ul>
</li>


